.employee-detail {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit-button {
  width: 100px;
  background: transparent;
  border-radius: 25px;
  color: red;
  border: 1px solid red;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: 35px;
  right: -225px;
}

.edit-button:hover {
  background: rgba(255, 0, 0, 0.25);
}

.save-button-container,
.employee-edit-header-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  width: 100px;
  background: transparent;
  border-radius: 25px;
  color: rgb(42, 250, 0);
  border: 1px solid rgb(42, 250, 0);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.save-button:hover {
  background: rgba(42, 250, 0, 0.25);
}

.employee-display-detail,
.employee-edit-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  min-width: 575px;
}

.employee-display-header-photo img,
.employee-edit-header-photo img {
  border-radius: 50%;
  margin: 15px;
  border: 1px solid white;
}

.employee-display-header-details {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.employee-display-header-name {
  font-size: 2em;
  display: flex;
}

.employee-display-contact-info {
  color: white;
  display: flex;
}

.employee-edit-header-details {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.employee-edit-header-name {
  justify-content: center;
  align-items: center;
}

.employee-edit-header-title,
.employee-edit-header-first,
.employee-edit-header-last,
.employee-edit-header-email {
  padding: 5px;
}

.employee-edit-header-title label,
.employee-edit-header-first label,
.employee-edit-header-last label,
.employee-edit-header-email label {
  font-size: 1.5em;
  text-align: left;
}

.employee-edit-header-title select,
.employee-edit-header-first input,
.employee-edit-header-last input,
.employee-edit-header-email input {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid white;
  border-radius: 2px;
}

.employee-edit-header-name {
  justify-content: center;
  align-items: center;
}

.input-holder {
  display: inline-block;
  width: 200px;
}

.label-holder {
  width: 100px;
  display: inline-block;
}
