.navbar-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 50px;
  background: #2960a0;
  border-radius: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-title {
  display: flex;
  font-size: 1.5em;
  font-style: italic;
  font-variant: small-caps;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  color: white;
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid white;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.navbar-link:hover {
  background: rgba(255, 255, 255, 0.3);
}
